@model IEnumerable<Law.Models.TOrganismo>
@using System;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table thead th {
        border-bottom: 0px;
    }

    .table tbody td {
        font-size: 15px;
    }

    .table tbody th, .table td {
        padding: 0.45rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
</style>

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar d-none d-md-block">
            <form class="bd-search d-flex align-items-center">
                <input class="form-control ds-input"
                       id="search-input"
                       placeholder="Buscar..."
                       autocomplete="off"
                       spellcheck="false"
                       aria-autocomplete="list"
                       aria-expanded="false"
                       style="position: relative; vertical-align: top;"
                       dir="auto"
                       type="search">
            </form>

            <nav class="collapse bd-links" id="bd-docs-nav">
                <div id="DivMenuManager">
                    @Html.Partial("_MenuControlPanelPartial")
                </div>
            </nav>
        </div>

        <main class="col-12 col-md-9 col-xl-8  bd-content" role="main">
            <div class="row p-3">
                @Html.Partial("_MenuCRUDPartial")
            </div>

            <div class="pt-5 pb-3">
                <div class="table-responsive table-responsive border-left border-right rounded">
                    <table class="table table-hover m-0">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.DscTOrganismo)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Estado.DscEstado)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.UserId)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.Registro)</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int index = 0; }
                            @foreach (var item in Model)
                            {
                                index++;

                                <tr>
                                    <th scope="row">@index.ToString().PadLeft(4, '0')</th>
                                    <td>@Html.DisplayFor(modelItem => item.DscTOrganismo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Estado.DscEstado)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Registro)</td>
                                    <td class="text-right">
                                        @Html.ActionLink("Editar", "Edit", new { id = item.TOrganismoId }, htmlAttributes: new { @class = "badge badge-light" }) |
                                        @Html.ActionLink("Detalles", "Details", new { id = item.TOrganismoId }, htmlAttributes: new { @class = "badge badge-info" }) |
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.TOrganismoId }, htmlAttributes: new { @class = "badge badge-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}