@{
    string name = (string)HttpContext.Current.Request.RequestContext.RouteData.Values["controller"];


}
<div class="nav-scroller bg-white  bg-light border-light">
    <nav class="nav nav-underline py-0" style="padding-top: 2px !important;">
        <a class="btn btn-outline-success mr-2" href="@Url.Action("Create")" role="button">Nuevo +</a>
        @Html.ActionLink("Tipos de Organismos", "Index", "TOrganismo", null, htmlAttributes: new { @class = (name == "TOrganismo") ? "btn btn-outline-toolbar mr-2 active" : "btn btn-outline-toolbar mr-2 " })
        @Html.ActionLink("Organismos", "Index", "Organismo", null, htmlAttributes: new { @class = (name == "Organismo") ? "btn btn-outline-toolbar mr-2 active" : "btn btn-outline-toolbar mr-2 " })
        @Html.ActionLink("Tipos de Estados", "Index", "TEstado", null, htmlAttributes: new { @class = (name == "TEstado") ? "btn btn-outline-toolbar mr-2 active" : "btn btn-outline-toolbar mr-2 " })
        @Html.ActionLink("Estados", "Index", "Estado", null, htmlAttributes: new { @class = (name == "Estado") ? "btn btn-outline-toolbar mr-2 active" : "btn btn-outline-toolbar mr-2 " })
        @Html.ActionLink("Pais", "Index", "Pais", null, htmlAttributes: new { @class = (name == "Pais") ? "btn btn-outline-toolbar mr-2 active" : "btn btn-outline-toolbar mr-2 " })
        @Html.ActionLink("Tipos de Proyectos", "Index", "TProyecto", null, htmlAttributes: new { @class = (name == "TProyecto") ? "btn btn-outline-toolbar mr-2 active" : "btn btn-outline-toolbar mr-2 " })
    </nav>
</div>
